 /* >>>>>>>>>>>> FLUXO <<<<<<<<<<<<<<<< */        

        /* 
        FLUXO NORMAL  //é um fluxo padrão do sistema ,quando não há estilização aplicada//
        -bloco e linha
        */
/*------------------------------------------------------------------------*/

  /*POSICIONAMENTO(NORMAL) EX: */

 /*Elementos em bloco*/
h1, h3, p {
    border: 1px solid black; /*Cria uma borda preta sólida nos elementos em bloco*/
}



 /*Elementos inline */
span {
    border: 1px solid black; /*Cria uma borda preta sólida nos elementos em linha*/
    position: relative; /*Cria um posicionamento relativo as medidas especificadas  em linha*/
    left: 1px; /*posiciona o elemento mais à esquerda*/
    top: 1px; /*posiciona o elemento mais abaixo*/
}
