  /*  >>MENU SEM O jQUERY<<<
-------------------------------------------
APLICAÇÃO DE ESTILO DIRETAMENTE  NO HTML
UTILIZANDO O  <style type="text/css">  PARA APLICAR DIRETAMENTE O ESTILO NO HTML.
 APLICAÇÃO DIRETA DO CSS   li:hover > ul {display: block;}
 PARA UTILIZAR OS EFEITOS DE TRANSIÇÃO DAS JANELAS.

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="estilo10.css" media="all">

    <title>menu</title>  

    <style type="text/css">
        ul{
            padding:0 ;
            margin: 0 ;
            list-style: none;
        }  
        li {
            border:1px solid black;
            width: 120px;
            padding: 3px;
            position: relative;
        }
        li:hover {
            background-color: grey;
            color: black;
        } */

        /* >>>Sub-menu<<<
        ------------------
        li > ul {
            position: absolute;
            left: 128px;
            top: -1px;
        
             display: none; 
        }

        li:hover > ul {
            display: block;  // APRESENTA OS ELEMENTOS EM BLOCOS OCULTOS //
        }
     
    </style> 
   
    </script>
   
</head>
<body>
            
    <ul id="menu">
       <li>Home</li>
       <li>Soluções</li>
       <li>Indústrias
            <ul>
                <li>Financeira</li>
                <li>Comunicação</li>
                <li>Educação</li> 
                <li>Energia
                    <ul>
                        <li>Elétrica</li>
                        <li>Eólica</li>
                        <li>Hidraulica</li> 
                        <li>Fóssil</li>      
                        <li>Solar</li>
                    </ul> 
                </li>      
                <li>Governo</li>
            </ul> 
        </li>
       <li>Cases</li>      
       <li>Contato</li>
    </ul>
       
       
    </div>*/
